<configurations>
    <configuration version="default">
        <difficulty_level>easy</difficulty_level>
        <number_of_try>10</number_of_try>
    </configuration>
<configuration version="current"><difficulty_level>hard</difficulty_level><number_of_try>3</number_of_try></configuration></configurations>